body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.container{
    width: 100%;
}
.flex{
    display: flex;
}
.main{
    margin-left: 20%;
    margin-right: 20%;
}
.main-height-1{
    margin-top: 140px;
}
.title-text-hero{
    margin-right: 15%;
    padding-bottom: 40px;
    
}
.title-text-hero h1{
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
    color: #333333;
    margin-bottom: 0px;
    padding-left: 12px;
}
.title-text-hero p{
    padding-bottom: 40px;
}
.left-border-decoration{
    border-left: 5px solid #FF5959;
    border-radius: 5px;
}
.special-color{
    color: #FFAD5A;
}
.btn a{
text-decoration: none;
color: #ffffff;
background-color: #FF5959;
padding: 16px 50px;
border-radius: 5px;
}

.btn a:hover{
    background-color: #FFAD5A;
}
.btn{
    padding-bottom: 40px;
}

/* Hero area end */
/* Mission 2022 section start */
.section-title h1{
    text-align: center;
    font-size: 48px;
    color: #13103A;
}

/* Mission card start */

.mission{
    width: 360px;
    height: 376px;
    background-color: #4f9da634;
    border-radius: 26px;
    margin-right: 20px;
}
.mission img{
    padding-top: 24px;
    height: 140px;
    width: 140px;
    padding-left: 32px;
}
.mission h4{
    font-weight: 600px;
    font-size: 24px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.mission p{
    padding-left: 32px;
    padding-right: 32px;
}

/* Mission card end */

/* vision card start */

.vision{
    width: 360px;
    height: 376px;
    background-color: #ff595921;
    border-radius: 26px;
    margin-right: 20px;
}
.vision img{
    padding-top: 24px;
    height: 140px;
    width: 140px;
    padding-left: 32px;
}
.vision h4{
    font-weight: 600px;
    font-size: 24px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.vision p{
    padding-left: 32px;
    padding-right: 32px;
}
/* vision card end */
/* goals card start */
.goals{
    width: 360px;
    height: 376px;
    background-color: #fff4d66b;
    border-radius: 26px;
    margin-right: 20px;
    margin-bottom: 140px;
}
.goals img{
    padding-top: 24px;
    height: 140px;
    width: 140px;
    padding-left: 32px;
}
.goals h4{
    font-weight: 600px;
    font-size: 24px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.goals p{
    padding-left: 32px;
    padding-right: 32px;
}
/* goals card end */
/* Mission 2022 section end */
/* 3rd and 4th section start */
.coding-img{
    margin-right: 72px;
}
.title-text h2{
    font-size: 36px;
    color: #333333;
    margin-bottom: 16px;
    line-height: 54px;
}

.title-text p{
    color: #3E3E3E;
    margin-bottom: 40px;
}
/* corona app section start*/
.top-margin{
    margin-top: 100px;
    margin-bottom: 100px;
}
.project-img{
    margin-left: 72px;
}
/* 3rd and 4th section end */
.app-img{
    padding-right: 164px;
}
.spacing{
    margin-top: 106px;
}
/* corona app section end*/
/*our work section start*/
.img-1 img{
    height: 400px;
    margin-right: 40px;
    box-shadow: 0px 4px 40px #dbdbdb;
    border-radius: 10px;
}
.img-2 img{
    height: 400px;
    box-shadow: 0px 4px 40px #dbdbdb;
    border-radius: 10px;
    }
/*our work section end*/
/* footer section start*/
.bg-color{
    height: 177px;
    background-color: #0B0D17;
    margin-top: 100px;
}
.footer-title{
    text-align: center;
}
.footer-title h1{
    color: #ffffff;
    font-family: 'Yeseva One', cursive;
    padding-top: 50px;
    font-size: 36px;
    font-style: italic;
    margin-bottom: 0px;
}
.text-coloring{
    color: #FF5959;
}
.footer-title p{
    color: #ffffff;
    font-size: 14px;
}
/* footer section end*/